
/* CSS Styling for page header */

.page-header {
  height: 400px;
  top: 120px;
  width: 100%;

  background-color: #C1666B;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.profile-picture {
  padding-top: 30px;
}
